{% extends 'bootstrap/base.html' %}

{% block title %}
Personajes Guardados
{% endblock %}

{% block content %}
<div class="container p-1 my-1" id="conent">
    <form method="GET" class="form-inline">
        <div class="form-group">
                <select name="clase" class="form-control">
                    {% for o in opciones %}
                    <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>
            <a class="btn btn-primary col-sm" href="/cargar">Cargar Personaje</a>
        </div>
    </form>
</div>

{% endblock %}